@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans);

body {
  background-color: antiquewhite;
}

.profile-card .card {
  background-color: #f4f4f4;
  margin: 10px auto;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.7);
}


.profile-card .card-content {
  width: 85%;
  margin: 10px auto;
}

.profile-card .card-content h3 {
  font-size: 30px;
  margin-bottom: 0;
  color: black;
}

.profile-card .card-content h4 {
  font-size: 18px;
  margin-top: 0;
  color: black;
}

.profile-card .card-content p {
  color: #727272;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  
}

.profile-card .card-footer
{
    border-top: solid 1px #B6B6B6;
    padding: 5px;
}