.carousel .carousel-item {

    width:100%;
    height:100%;
}
/* 
.carousel
{
    height:500px
} */


.btn-floating.halfway-fab:nth-child(2)
{

    right:80px;
}

.row.margin-remove
{
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
    margin-bottom:0px
}

.img-responsive-thumbnail
{
position: absolute;
/* margin-left:20px; */
width: 52px;
height: 52px;
left: 35px;
}

.text-responsive-thumbnail
{
margin-left:90px;
}