.image-upload
{
    cursor:pointer;
}

.pointer
{
    cursor:pointer
}


  input[type=file]:required {
    box-shadow:none;
}

#file-input
{
    display:none;
}


.bouncing
{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width:90px;
  height:100px;
}

.bouncing div
{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: teal;
  animation: bouncer 0.5s cubic-bezier(.19,.57,.3,.98) infinite alternate;
}

.bouncing div:nth-child(2)
{
  animation-delay: 0.1s
}

.bouncing div:nth-child(3)
{
  animation-delay: 0.2s
}

.bouncing div:nth-child(4)
{
  animation-delay: 0.3s
}

@keyframes bouncer {

0%{transform:translateY(0)}
100%{transform:translateY(-50px)}

}