.margin-image
{
    margin-top:10px
}


.collection a.collection-item
{
    cursor: pointer;
    color:black

}

.collection a.collection-item i
{
    cursor: pointer;
    color:grey

}

.collection a.collection-item.active i
{
    color:white
    
}

.collection .collection-item.active {
    background-color:rgb(53, 53, 53);
    border-color: black;
    color: white;
    border-radius: 3px;
}

.collection .collection-item.avatar {
    min-height: 84px;
    padding-left: 72px;
    position: relative;
}